{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "stryker": {
            "report": "master"
        },
        "text": "infection\/infection.log",
        "html": "infection\/infection.html"
    },
    "mutators": {
        "global-ignoreSourceCodeByRegex": [
            "assert.*",
            ".*class_exists.*",
            ".*gc_mem_caches.*",
            ".*gc_collect_cycles.*"
        ],
        "global-ignore": [
            "Solido\\Common\\Urn\\Urn::parseUrn"
        ],
        "@default": true,
        "MethodCallRemoval": {
            "ignoreSourceCodeByRegex": [
                ".*self::assertThat.*"
            ]
        },
        "DecrementInteger": {
            "ignoreSourceCodeByRegex": [
                ".*json_decode.*"
            ]
        },
        "IncrementInteger": {
            "ignoreSourceCodeByRegex": [
                ".*json_decode.*"
            ]
        },
        "GreaterThanOrEqualTo": {
            "ignoreSourceCodeByRegex": [
                ".*PHP_VERSION_ID.*"
            ]
        },
        "GreaterThanOrEqualToNegotiation": {
            "ignoreSourceCodeByRegex": [
                ".*PHP_VERSION_ID.*"
            ]
        }
    },
    "minMsi": 56,
    "minCoveredMsi": 70
}
